---
import BackgroundTitle from "../components/assets/BackgroundTitle.vue";
const { post } = Astro.props;
---

<article
  style={{ backgroundImage: `url(${post.featuredImage?.node?.sourceUrl})` }}
>
  <a class="post-link" href={post.uri} aria-label={post.title}>
    <div class="categories">
      <ul>
        {
          post.categories.nodes.map((category) => {
            return (
              <a class="term-link" href={category.uri}>
                <li>{category.name}</li>
              </a>
            );
          })
        }
      </ul>
    </div>
    <a href={post.uri}>
      <BackgroundTitle title={post.title} date={post.date} />
    </a>
  </a>
</article>

<style>
  article {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
    margin: 1.5rem 5%;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a.post-link {
    text-decoration: none;
    color: #000;
  }
  a.term-link {
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 0.7rem;
    background-color: #0000004b;
    backdrop-filter: blur(5px);
    text-decoration: none;
  }
  .categories ul {
    margin-left: 0;
    padding-left: 0;
  }
  .categories li {
    list-style: none;
  }
  .categories a {
    margin-right: 5px;
  }
  span {
    color: darkgrey;
    font-weight: 300;
  }
</style>
