---
import BackgroundTitle from "../components/assets/BackgroundTitle.vue";
const { post } = Astro.props;
console.log(post.featuredImage.node.sourceUrl);
---

<article
  style={{ backgroundImage: `url(${post.featuredImage?.node?.sourceUrl})` }}
>
  <a class="post-link" href={post.uri} aria-label={post.title}>
    <h3 class="title-background">{post.title}</h3>
    <BackgroundTitle text={post.title} />
    <section>
      <span
        ><time datetime={post.date}
          >{new Date(post.date).toLocaleDateString("fr-FR")}</time
        ></span
      >
      <div>
        <p set:html={post.excerpt} />
        {
          post.categories.nodes.map((category) => {
            return (
              <a class="term-link" href={category.uri}>
                {category.name}
              </a>
            );
          })
        }
      </div>
    </section>
  </a>
</article>

<style>
  article {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
    margin: 1.5rem 5%;
    padding: 0.5rem 2rem 1rem 2rem;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
  }
  .title-background {
    display: inline;
    padding: 0.5em 1em;
    border-radius: 25px;
    background-color: rgba(255, 255, 255);
    font-weight: bold;
    margin: 0;
    white-space: wrap;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  a.post-link {
    text-decoration: none;
    color: #000;
  }
  a.term-link {
    display: inline-block;
    height: 1.5rem;
    padding: 0.75rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 2px solid darkgrey;
    border-radius: 10px;
    font-weight: bold;
  }
  span {
    color: darkgrey;
    font-weight: 300;
  }
</style>
