---
import SiteNav from "../components/SiteNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
import { navQuery } from "../lib/api";
const { menus, generalSettings } = await navQuery();
const primaryMenu = menus.nodes[0];

const { title, description } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://normandie.spines.fr/wp-content/uploads/2024/01/NormandyQuestLogo-04.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | ${generalSettings.title}`}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <main>
      <SiteNav menu={primaryMenu} generalSettings={generalSettings} />
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>

<style is:global>
  @import url("https://use.typekit.net/lhb8tjv.css");
  body {
    font-family: "filson-pro", sans-serif;
    font-weight: 400;
  }
  main {
    box-sizing: border-box;
    margin: auto;
  }
  section {
    padding: 4rem 1%;
  }
  p {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.7;
  }
  .cta-primary {
    color: #000;
    border: 2px solid #000;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
  }
  .cta-primary img {
    margin-left: 0.5rem;
    vertical-align: middle;
  }
  .cta-container {
    display: flex;
    justify-content: center;
    padding: 4rem 0 1rem 0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 4rem 14%;
    }
  }
</style>
